@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
	background-color: #c9cacc;
}

* {
	font-family: 'Quicksand';
}

::selection {
	user-select: none;
}

.container {
	display: flex;
	justify-content: center;
	gap: 100px;
}

h1 {
	text-align: center;
}
